<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>Ensaio Stars </h2>

            <div class="fakeimg" style="height:200px;"><img class="img2" src="assets/Stars-foto1.jpg" title="Cleiton"
                    alt="Cleiton"></div>
            <p class="bloco1">Fotos da seção oficial do grupo</p>
            <p> Confira todas as fotos e videos realizadas no parque da Independência feito por três ótimos
                fotógrafos </p>
        </div>
        <div class="card">
            <h2>Entre em contato e contrate nossos serviços</h2>

            <div class="fakeimg" style="height:200px;"><a href="Stars-Faleconosco.html" target="_blank"><img
                        class="img3" src="assets/Stars-foto5.jpg" title="logo" alt="logo"></a></div>

            <p class="bloco2">Fale conosco através de nossas redes sociais</p>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card3">
            <h2>Conheça nossos membros</h2>
            <a href="Stars-Membros.html" target="_blank">
              
            </a>
            <div class="fakeimg">
            </div>
            <img class="img6" src="assets/Stars-touro.jpg" title="logo" alt="logo">
            <img class="img6" src="assets/Stars-anderson.jpg" title="logo" alt="logo">
            <img class="img6" src="assets/Stars-nee.jpg" title="logo" alt="logo">
            <img class="img6" src="assets/Stars-james.jpg" title="logo" alt="logo">
            <img class="img6" src="assets/Stars-diego.jpg" title="logo" alt="logo">
            <img class="img6" src="assets/Stars-vir.jpg" title="logo" alt="logo">
            <img class="img6" src="assets/Stars-jonas.jpg" title="logo" alt="logo">
            <img class="img6" src="assets/Stars-leeo.jpg" title="logo" alt="logo">



        </div>

        <div class="card2">
            <h3>Siga nossas redes sociais</h3>
            <a href="https://www.facebook.com/starsofdestinyoficial/" target="_blank"><img class="img7"
                    src="assets/Stars-fase.jpg" title="logo" alt="logo"></a>
            <a href="https://www.instagram.com/starsofdestiny" target="_blank"> <img class="img7"
                    src="assets/Stars-insta.jpg" title="logo" alt="logo"></a>


        </div>
    </div>
</div>